{
	"Planowanie|Planing|Planin_g|Daily|Dail_y|Review|Refinement|Refinemen_t|Retro|Retr_o": [
		"UZP-e-Zamówienia",
		"2. Spotkania",
		"organizacyjne"
	],
	"Weryfikacje i obsługa zgłoszeń": [
		"UZP-e-Zamówienia",
		"5. Serwis ePZP",
		"serwisowe"
	],
	"Spotkania": [
		"UZP-e-Zamówienia",
		"2. Spotkania",
		"organizacyjne"
	],
	"Błędy prod": [
		"UZP-e-Zamówienia-G",
		"1. Serwis ePZP",
		"programistyczne"
	],
	"obsługa zgłoszeń z produkcji": [
		"UZP-e-Zamówienia-G",
		"1. Serwis ePZP",
		"programistyczne"
	]
}